#login {
     margin: 0;
     background-color: #000000;
     background-size: cover;
     background-repeat:no-repeat;
     display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	color: #000000;
}


.jumbotron h1, .form-group label {
  color: #000000;
}

#state {
	position: absolute;
	left: 400px;
	top: 500px;
	color: black;
}