#state {
	position: absolute;
	left: 80px;
	top: 400px;
	color: black;
	visibility: visible;
}

#username {
	color: black;
}

.btn-group {
	position: absolute;
	top: 50px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#sair {
	background-color: #990016;
	position: absolute;
	top: 120px;
}

#ligar {
	background-color: #084f12;
	position: absolute;
	top: 0px;
}

#reset {
	background-color: black;
	position: absolute;
	top: 60px;
}

body {
	background-color: #dce5dd;
}

h2 {
	font-size: 20px;
}

p {
	position: absolute;
	bottom: 1px;
	color: #111700;
} 

#dropdown_time {
	position: absolute;
	top: 70px;
	left: 150px;
}

#time {
	background: #dce5dd;
	width: 35px;
}

#tempo {
	position: absolute;
	top: 45px;
	left: 190px;
}

#timer {
	color: blue;
	position: absolute;
	top: 300px;
}

#off {
	position: absolute;
	top: 270px;
	left: 90px;
	width: 200px;
	height: 150px;
	visibility: hidden;
}

#internet {
    position: absolute;
    top: 300px;
    font-size: 40px;
    color: red;
}

#dropdown_dispositivos {
    position: absolute;
    top:150px;
    left:200px;
}